{header}
<title>Help: {topic}</title>
</head>
<body>

	<div class="navbar">	
		<div class="container">
			<a class="brand" href="{logourl}">&nbsp;</a>
			<ul class="nav">
				<li class="active">
					<a href="/">Repositories</a>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="{url}help{sessionvars%urlparameter}">Help</a></li>
			</ul>
		</div>
	</div>
	
	<div id="content" class="container">
		<div class="page-header">
			<h1>Help: {topic}</h1>
		</div>
		<pre>{doc|escape}</pre>
	</div>

{footer}
