{header}
<title>404 - Mercurial</title>
</head>
<body>

	<div class="navbar">	
		<div class="container">
			<a class="brand" href="{logourl}">&nbsp;</a>
			<ul class="nav">
				<li class="active">
					<a href="/">Repositories</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div id="content" class="container">
		<div class="page-header">
			<h1>Repository Not Found</h1>
		</div>
		<p>The repository "{repo|escape}" does not exist.</p>
		<p>Please return to the <a href="{url}">repositories list</a>.</p>
	</div>

{footer}
