tr(class='parity{parity}')
  td
    a(href='{url}{sessionvars%urlparameter}') {name|escape}
  td {description}
  td {contact|obfuscate}
  td.age {lastchange|rfc822date}
  td.downloads {archives%archiveentry}