tr(class='parity{parity}')
  td.diffstat-file
    a(href='#l{fileno}.1') {file|escape}
  td.diffstat-total {total}
  td.diffstat-graph
    span.diffstat-add(style='width:{addpct}%;') &nbsp;
    span.diffstat-remove(style='width:{removepct}%;') &nbsp;
