tr
  td.annotate
    a(href='{url}annotate/{node|short}/{file|urlescape}{sessionvars%urlparameter}\#{targetline}', title='{node|short}: {desc|escape|firstline}') {author|user}@{rev}
  td
    a(href='\#{lineid}', id='{lineid}') {linenumber}
    |  {line|escape}
