<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{staticurl}/images/hgicon.png" type="image/png" />
        <meta name="robots" content="index, nofollow" />
        <script type="text/javascript" src="{staticurl}mercurial.js"></script>
        <link rel="stylesheet" type="text/css" href="{staticurl}b3/css/bootstrap.min.css"/>
        <script src="{staticurl}jquery-1.9.1.js"></script>
        <script src="{staticurl}b3/js/bootstrap.min.js"></script>