<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="{staticurl}boundstate/images/hgicon.png" type="image/png" />
		<meta name="robots" content="index, nofollow" />
		<script type="text/javascript" src="{staticurl}boundstate/js/mercurial.js"></script>
		<link rel="stylesheet" type="text/css" href="{staticurl}boundstate/css/styles.css"/>
<!--	<link rel="stylesheet/less" type="text/css" href="{staticurl}boundstate/css/styles.less"/>-->
<!--	<script type="text/javascript" src="{staticurl}boundstate/js/less.js"></script>-->
