{header}
    <title>Repositories - Mercurial</title>
</head>
<body>

{bar0}

<div id="content" class="container">
    <div class="page-header">
        <h1>Repositories</h1>
    </div>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th><a href="?sort={sort_name}">Name</a></th>
                <th><a href="?sort={sort_description}">Description</a></th>
                <th><a href="?sort={sort_contact}">Contact</a></th>
                <th><a href="?sort={sort_lastchange}">Last Modified</a></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {entries%indexentry}
        </tbody>
    </table>
</div>

{footer}
