{header}
<title>404 - Mercurial</title>
</head>
<body>

{bar0}

<div id="content" class="container">
    <div class="jumbotron">
        <h1>Repository Not Found</h1>
        <p>The repository "{repo|escape}" does not exist.</p>
        <p>Please return to the <a href="{url}">repositories list</a>.</p>
    </div>
</div>

{footer}
