{header}
<title>{repo|escape}: searching for {query|escape}</title>
</head>
<body>
	
	<div class="navbar">	
		<div class="container">
			<a class="brand" href="{logourl}">&nbsp;</a>
			<ul class="nav">
				<li class="active">
					<a href="/">Repositories</a>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="{url}help{sessionvars%urlparameter}">Help</a></li>
			</ul>
		</div>
	</div>

	<div id="content" class="container">

		<h1>{repo|escape}</h1>
		
		<form id="search" class="form-search" action="{url}log">
			{sessionvars%hiddenformentry}
			<div class="input-append">
				<input name="rev" id="search1" type="text" placeholder="Author, revision, filename, or commit" value="{query|escape}" /><a class="btn" onclick="document.getElementById('search').submit()"><i class="icon-search"></i></a>
			</div>			
		</form>
		
		<ul class="nav nav-tabs">
			<li class="active"><a href="{url}">Commits</a></li>
			<li><a href="{url}file">Files</a></li>
		</ul>

		<h3>Search results for '{query|escape}'</h3>

		<table class="table">
			<thead>
				<tr>
					<th class="age">Age</th>
					<th class="author">Author</th>
					<th class="description">Description</th>
				</tr>
			</thead>
			<tbody>
				{entries}
				</tobyd>
		</table>

		<a class="btn" href="{url}log{morevars%urlparameter}#more" name="more">More Results</a>

	</div>

{footer}
