{header}
	<title>{repo|escape}: log</title>
	<script src="{staticurl}boundstate/js/jquery.min.js"></script>
	<script src="{staticurl}boundstate/js/bootstrap-dropdown.js"></script>
	<link rel="alternate" type="application/atom+xml" href="{url}atom-log" title="Atom feed for {repo|escape}" />
	<link rel="alternate" type="application/rss+xml" href="{url}rss-log" title="RSS feed for {repo|escape}" />
</head>
<body>
	
	<div class="navbar">	
		<div class="container">
			<a class="brand" href="{logourl}">&nbsp;</a>
			<ul class="nav">
				<li class="active">
					<a href="/">Repositories</a>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="{url}help{sessionvars%urlparameter}">Help</a></li>
			</ul>
		</div>
	</div>

	<div id="content" class="container">

		<h1>{repo|escape}</h1>

<!--		<div class="downloads">
			{archives%archiveentry}
		</div>	-->

		<form id="search" class="form-search" action="{url}log">
			{sessionvars%hiddenformentry}
			<div class="input-append">
				<input name="rev" id="search1" type="text" placeholder="Author, revision, filename, or commit" /><a class="btn" onclick="document.getElementById('search').submit()"><i class="icon-search"></i></a>
			</div>			
		</form>

		<ul class="nav nav-tabs">
			<li class="active"><a href="{url}">Commits</a></li>			
			<li><a href="{url}file">Files</a></li>
		</ul>

		<div class="btn-group pull-right">
			<a class="btn active" href="{url}shortlog/{node|short}{sessionvars%urlparameter}"><i class="icon-th-list"></i> List</a>
			<a class="btn" href="{url}graph/{node|short}{sessionvars%urlparameter}"><i class="icon-graph"></i> Graph</a>
		</div>

		<div class="btn-toolbar">			
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-tag"></i> Tags
					<span class="caret"></span>
				</a>
				<ul id="tag-menu" class="dropdown-menu">
					<li><span class="loading">Loading...</span></li>
				</ul>
			</div>

			<div class="btn-group">
				<a class="btn dropdown-toggle disabled" data-toggle="dropdown" href="#">
					<i class="icon-bookmark"></i> Bookmarks
					<span class="caret"></span>
				</a>
				<ul id="bookmark-menu" class="dropdown-menu">
					<li><span class="loading">Loading...</span></li>
				</ul>
			</div>		
			
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-leaf"></i> Branches
					<span class="caret"></span>
				</a>
				<ul id="branch-menu" class="dropdown-menu">
					<li><span class="loading">Loading...</span></li>
				</ul>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th class="age">Age</th>
					<th class="author">Author</th>
					<th class="description">Description</th>
				</tr>
			</thead>
			<tbody>
				{entries%shortlogentry}
			</tbody>
		</table>

		<a name="more" class="btn" href="{url}shortlog/{rev}{morevars%urlparameter}#more">More Commits</a>

	</div>
	
	<script type="text/javascript">	
		$("#tag-menu").load("{url}tags{sessionvars%urlparameter}");	
		$("#bookmark-menu").load("{url}bookmarks{sessionvars%urlparameter}", function()\{
			if ($("li", this).length > 0) 
				$(this).closest(".btn-group").find(".btn").removeClass("disabled");
		});	
		$("#branch-menu").load("{url}branches{sessionvars%urlparameter}", function()\{
			$("a", this).each(function()\{
				$(this).attr("href", "{url}shortlog/" + $(this).attr("href"));
			});
		});			
	</script>

{footer}